<!DOCTYPE html>
<html>
<head>
  <title>Recipe Sharing App</title>
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
  <h1>Welcome to Virtual Potluck</h1>
  <div class="image-container">
    <img src="http://www.gooseberrypatch.com/_images/sitenav/ShareRecipe_pg3header.jpg" alt="Index Banner" />
  </div>
  <div class="button-container">
    <button class="button" onclick="window.location.href='/recipes'">Click to see recipes</button>
    <button class="button" onclick="window.location.href='/auth/google'">
      <span class="button-text">Log in with Google</span>
      <img src="https://i.postimg.cc/XqXMKXTx/Google-G-Logo-svg.png" alt="Google Logo" />
    </button>
  </div>
</body>
</html>