<!DOCTYPE html>
<html>
<head>
  <title>Recipe Sharing Web App</title>
  <!-- Will Add CSS Here Later-->
</head>
<body>
  <h1>Welcome to the Recipe Sharing Web App</h1>
  <p>Here you can find and share delicious recipes!</p>

  <a href="/recipes" class="btn">Go to Recipes</a>
  <a href="/auth/google" class="btn">Log in with Google</a>
  
</body>
</html>
