body {
    background-image: url("https://i.postimg.cc/qvzksBbF/586eba-0a738812270a488188acb5b72a87c5f2-mv2.gif");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

h1 {
    color: whitesmoke;
    text-align: center;
}

.image-container {
    margin-top: 20px;
}

.image-container img {
    max-width: 400px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    width: 200px; /* Set a specific width for the buttons */
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 10px;
}

.button-text {
    margin-right: 5px;
}

.button img {
    max-height: 20px;
    max-width: 20px;
    vertical-align: middle;
}