/*CSS for navbar*/
.navbar {
    background-color: #f8f8f8;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.navbar-brand a {
    font-size: 20px;
    color: #333;
    text-decoration: none;
}
  
.navbar-links li {
    display: inline-block;
}
  
.navbar-button {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
  
.navbar-button:hover {
    background-color: #2980b9;
}
  
.navbar-button[type="submit"] {
    cursor: pointer;
}
  
/*CSS for edit.ejs*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
  
.page-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
  
.edit-recipe-header {
    text-align: center;
}
  
.form-group {
    margin-bottom: 20px;
}
  
label {
    display: block;
    margin-bottom: 5px;
}
  
input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
button.submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.submit-button:hover {
    background-color: #45a049;
}
  
button.submit-button:focus {
    outline: none;
}
  
  